@model ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h4>Your shopping cart items are waiting for you to take them home...</h4>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Selected amount</th>
        <th>Item</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <td class="text-center">@line.ShoppingCartItemAmount</td>
            <td class="text-left">@line.ShoppingCartItemProduct.ProductName</td>
            <td class="text-right">@line.ShoppingCartItemProduct.ProductUnitPrice.ToString()</td>
            <td class="text-right">
                @((line.ShoppingCartItemAmount * line.ShoppingCartItemProduct.ProductUnitPrice).ToString("c"))
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total: </td>
        <td class="text-right">
            @Model.ShoppingCartTotal.ToString("c")
        </td>
    </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Proceed to Checkout</a>
</div>